<form action = "http://localhost:5000/results" method = "POST">
   <p>Name <input type = "text" name = "plant_name" /></p>
   <p>Sensor Number <input type = "text" name = "sensor_index" /></p>
   <p>Location <input type = "text" name = "location_id" /></p>
   <p>Minimum Moisture (default value: 50) <input type = "text" name = "minimum_moisture" value = "50" /></p>
   <p>Maximum Moisture (default value: 100) <input type = "text" name = "maximum_moisture" value = "100" /></p>
   <p><input type = "submit" value = "Add Plant" /></p>
</form>
