<!DOCTYPE html>
<html>
  <head>
    <title>Plants Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 1;
        width: 80%;
        border: 5px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
  <h1>My Home Plants Report </h1>
    <table class="center">
    <tr>
      <th>Sensor Index</th>
      <th>Plant Name</th>
      <th>Plant Location</th>
      <th>Moisture Value</th>
      <th>Happy Meter!</th>
    </tr>
      {% for plant in plants %}
      <tr>
        <td>{{plant['index']}}</td>
        <td>{{plant['name']}}</td>
        <td>{{plant['location']}}</td>
        <td>{{ plant['value'] }}</td>
        <td><img src="{{ url_for('static', filename = plant['image']) }}"></td>
      </tr>
    {% endfor %}

    </table>
  </body>
</html>
